html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





body {
    font-family: Lato;
}

/* Header */

.header {
    background-image: url(img/Optimized-matteo-bernardis-428293-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.nav-bar {
    background-color: #fff;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
}

.main-header {
    width: 90%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.title {
    font-size: 22px;
    color: #000;
    font-weight: 200;
}

.sign-button {
    color: #fff;
    font-size: 16px;
    background-color: #007bff;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-family: inherit;
}

.header-text {
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.6;
}

.header-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-inputs {
    color: #495057;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-family: inherit;
    font-size: 20px;
}

.header-inputs:focus, .sign-button:focus {
    outline-color: #007bff;
}

.submit-form {
    margin-top: 10px;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/* Features section */

.features {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fci {
    color: #007bff;
    font-size: 70px;
    margin-bottom: 20px;
}

.fci:hover {
    transform: scale(1.3)
}

.titles {
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.pharagraphs {
    font-family: Lato;
    color: #777;
    font-size: 20px;
    font-weight: 100;
    width: 80%;
    text-align: center;
    line-height: 1.7;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Showcase section */

.showcase {
    margin-top: 100px;
    margin-bottom: 100px;
}

.showcase-img {
    max-width: 100%;
    height: auto;
}

.showcase-text {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Testimonial section */

.testimonial {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #777;
}

.sign-up {
    background-image: url(img/Optimized-matteo-bernardis-428293-unsplash-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.second-header {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

/* Footer */

.footer {
    margin-top: 50px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 60px;
}

.nav-bar ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

.rights-reserved {
    font-size: 15px;
    color: #777;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.smi {
    color: #007bff;
    font-size: 40px;
}

/* Media Query */

@media screen and (min-width: 1000px) {
    .header {
        height: 100vh;
    }

    .main-header {
        width: 50%;
    }

    .header-text {
        font-size: 35px;
    }
    
    .header-form {
        width: 80%;
        flex-direction: row;
    }

    .email-form {
        width: 100%;
    }

    .submit-form {
        width: 30%;
        margin-top: 0px;
        margin-left: 20px;
    }

    /* Features section */ 

    .features {
        flex-direction: row;
        width: 90%;
    }

    /* Showcase section */

    .showcase {
        display: flex;
        flex-wrap: wrap;
    }

    .showcase-img {
        width: 50%;
        height: 450px;
    }

    .showcase-text {
        width: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .showcase {
        margin-top: 100px;
    }

    #bg1 {
        order: 2;
    }

    #bg2 {
        order: 1;
    }

    #bg3 {
        order: 3;
    }

    #bg4 {
        order: 4;
    }

    #bg5 {
        order: 6;
    }

    #bg6 {
        order: 5;
    }

    /* Testimonial section */

    .testimonial {
        display: flex;
        justify-content: center;
    }

    .test-container {
        width: 30%;
    }

    /* Footer */
    .footer {
        margin-top: 50px;
        display: flex;
    }

    .footer-nav {
        width: 40%;
    }

    .social-media {
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        margin: 0 auto;
        margin-top: 0px;
        margin-right: 20px;
    }
    
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        height: 40px;
        margin-left: 20px;
    }
    
    .nav-bar ul li a {
        font-size: 14px;
        margin: 10px;
    }

    .nav-bar ul li a:hover {
        text-decoration: underline;
    }
    
    .rights-reserved {
        font-size: 15px;
        text-align: left;
        margin-left: 20px;
    }
    
    .smi {
        font-size: 30px;
    }
}